<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Main Nav Navigation-->
  
<main class="container">
  <div class="jumbotron">
    <h1 class="display-5">&nbsp;<%= title %> Mr Meeee</h1>
    <div class="container">
      <div class = "row">
      <div class = "col-4">
      <img src="Assets/images/Photo.jpg" alt="Photo" class="photo-image">
      
      <p><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Anubhav Pandit</b></p>
      </div>
    <div class="col-8 about me" style="float:left;">
      <p>&#x2022; Anubhav Pandit, a vibrant and collaborative Senior Software Test Engineer, brings 5. years of rich experience in the realm of Software Testing. Demonstrating proficiency in automation, I excel in leveraging Selenium WebDriver with Java, coupled with expertise in TestNG and JUnit libraries, to craft robust automation solutions. I have a proven track record of initiating and implementing automation frameworks, showcasing my ability to construct structures like the Page Object Model and Data-Driven frameworks from inception. Within team-oriented environments, 
        I consistently contribute to the seamless integration of testing processes within the broader software development lifecycle.
      </p>

      <a      style="color: darkorchid;"     href="Assets/pdf/Anubhav.pdf" download="Anubhav.pdf">My Resume</a>
    </div>
    </div>
    </div>
  </div>
  </main>
  
   <!--<h1><%= title %></h1>-->
   <!--<p>Welcome to <%= title %></p>-->
   <!--Script section-->
   
   <%-include partials/bottom_nav.ejs%>
   <%-include partials/footer.ejs%>