<%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
    <!--Main Nav Navigation-->

    <main class="container">
      <div class="jumbotron">
        <div class="d-flex flex-md-row flex-column mt-5 justify-content-left">
          <div class="flex-grow-1 w-md-100" style="max-width: 850 px;">
            <h1 class="display-4 text-center">Welcome to the <%= title %> Page</h1>
            <p class="display-8"> Anubhav Pandit is an accomplished software professional with a wealth of experience in the field. With a career spanning 5.7 years, Anubhav has established a reputation as a Senior Software Test Engineer, demonstrating an exceptional skill set in software testing. Proficient in automation, Anubhav excels in utilizing Selenium WebDriver with Java, coupled with expertise in TestNG and JUnit libraries, to create robust and efficient automation solutions. Noteworthy is Anubhav's proficiency in designing and implementing automation frameworks from scratch, including the adept use of structures like the Page Object Model and Data-Driven frameworks. Anubhav thrives in team-oriented environments, consistently contributing to the seamless integration of testing processes within the broader software development lifecycle. This seasoned professional has not only honed technical skills but has also garnered valuable experience in crafting and maintaining automation suites, ensuring the delivery of high-quality software products. With a strong foundation in software testing methodologies and a meticulous approach to quality assurance, Anubhav Pandit stands as a dedicated and skilled contributor to the software engineering landscape.





              <%= title %> Page</p>


            <div> <a style="color: darkviolet;" href="/about"><b>About me</b></a>
            </div>
            <div> <a   style="color: darkviolet;"    href="/projects"><b>Projects</b> </a> </div>
          </div>
        </div>
    </main>

    <!--<h1><%= title %></h1>-->
    <!--<p>Welcome to <%= title %></p>-->
    <!--Script section-->

    <%-include partials/bottom_nav.ejs%>
      <%-include partials/footer.ejs%>